.sidebar {
  width: 330px;
  background-color: #5886de;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-item {
  padding-top: 12px; /* 상하 간격 조정 */
  padding-bottom: 12px; /* 상하 간격 조정 */
}

.font-weight-bold {
  font-weight: bold; /* 볼드체 적용 */
}

.pl-3 {
  padding-left: 1rem; /* Project files와 Codes 들여쓰기 */
}

.ml-3 {
  margin-left: 1rem; /* 하위 메뉴의 들여쓰기 */
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none; /* hover 상태에서도 밑줄 제거 */
}
